# SMTP Configuration
SMTP_HOST="the host url"
SMTP_PORT="587"
SMTP_SECURE="false"
GMAIL_USER="your gmail"
GMAIL_APP_PASSWORD="16 digit password"

KAFKA_BROKERS="your broker port"


REDIS_HOST="localhost"
REDIS_PORT="6379"