<!DOCTYPE html>
<html>
  <body>
    <p>Hi {{authorName}},</p>

    <p>I hope you're doing well!</p>

    <p>
      My name is Arnab Paul, and I currently have over a year of experience in the tech industry.
      I am proficient in the MERN stack and have been working on advanced topics such as
      React.js, Next.js, Typescript, Prisma ORM, Postgres, Docker, Redis, Kafka, Python,
      and have hands-on experience with LLM frameworks.
    </p>

    <p>
      I've had the opportunity to work with these technologies on several projects.
      Currently, I'm working at UNIMAD, where I have contributed to innovative solutions and
      expanded my technical skillset. I am passionate about developing scalable and efficient
      web applications and exploring new-age technologies.
    </p>

    <p>
      I would love to connect and discuss how my experience and skills could be a good fit for
      any roles you are hiring for. Feel free to reach out if you'd like to explore this further.
    </p>

    <p>
      Visit my Portfolio: <a href="https://folio-two-beta.vercel.app/">https://folio-two-beta.vercel.app/</a><br />
      LinkedIn: <a href="https://www.linkedin.com/in/arnabp1/">https://www.linkedin.com/in/arnabp1/</a><br />
      GitHub: <a href="https://github.com/arnab1656">https://github.com/arnab1656</a>
    </p>

    <p>Looking forward to connecting!</p>

    <p>Best regards,<br />Arnab Paul</p>
  </body>
</html>
